* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 280px;
    height: 70px;
    margin: 10px 50px;
}
.header i {
    font-size: 30px;
    margin: 0 40px;
}
