.container-alumno {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
 }
 .table {
     position: fixed;
     top: 220px;
     left: 55%;
     transform: translateX(-50%);
     border-collapse: collapse;
     width: 100%;
     max-width: 80%;
     border: 1px solid #000;
     overflow-x: auto;
     margin: auto;
 }
 
 .table th,
 .table td {
    width: 80px;
     height: 40px;
     vertical-align: top;
     text-align: center;
     border: 1px solid #000;
     border-collapse: collapse;
     padding: 0.4em;
 }
.table td:nth-child(1) {
    width: 10%;
}
.table td:nth-child(4) {
    width: 30%;
}
 .error-fetch,
 .not-usuarios,
 .cargando {
     position: absolute;
     top: 100px;
     right: 80px;
     width: 100%;
     max-width: 70%;
     color: #000;
     font-weight: bold;
 }
 
 .error-fetch,
 .not-usuarios {
     background-color: #1A3373;
     padding: 15px;
     box-shadow: 0px 0px 5px 1px #1A3373;   
     color: #fff;
     text-align: center;
 }
 .cargando {
     top: 50px;
 }
 
 .pagination-container {
    position: fixed;
    bottom: 60px;
    right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #000;
 }
 .pagination-container button {
    border: none;
    border: 1px solid #000;
    padding: 8px;
    cursor: pointer;
}
 .pagination {
    display: flex;  
    margin: 0;
    padding: 0;
 }
 .pagination li {
    padding: 5px 15px;
    border: 1px solid #000;
    cursor: pointer;
 }
 .pagination-container .pagination li.active {
    color: #fff;
    background-color:#1A3373;
 }
.buscador_filtrer {
    position: fixed;
    top: 125px;
    left: 15%;
    z-index: 1000;
}
.buscador_filtrer .input_filtra {
    padding: 15px;
    border: none;
    border: 1px solid #000;
    border-radius: 5px;
}
.buscador_filtrer .input_filtra:focus,
.buscador_filtrer .select_options:focus {  
    outline: none;
}
.buscador_filtrer .select_options {
    padding: 10px;
    margin: 0 15px;
    border-radius: 5px;
    background-color: #1A3373;
    color: #fff;
    cursor: pointer;
}

 @media screen and (max-width: 768px) {
     .table {
         width: 70%;
         max-width: none;
     }
 }


